.clients {
  padding-top: 44px;
  padding-bottom: 49px;
}

.clients h2 {
  margin: 0 0 23px;
  font-size: 34px;
  line-height: 47.8px;
  letter-spacing: -1.75px;
  color: $basic-grey;
  text-align: center;
}

.clients__list {
  display: flex;
  overflow: hidden;
  align-items: center;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  list-style: none;
}

.clients__list li {
  margin-right: 136px;

  &:last-child {
    margin-right: 0;
  }
}
