.clients {
  padding-top: 44px;
  padding-bottom: 49px;
}

.clients h2 {
  margin: 0 0 23px;
  font-size: 34px;
  line-height: 48px;
  letter-spacing: 0.25px;
  color: $basic-grey;
  text-align: center;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 140.62%;
  }
}

.clients__slider {
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.clients__list {
  display: flex;
  // flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  list-style: none;
  animation: scroll 40s linear infinite;

  &:hover {
    animation-play-state: paused;
  }

  @media (max-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
  }

  @media (max-width: $mobile-width) {
    padding-left: 55px;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-200px * 27));
  }
}

.clients__item {
  margin-right: 136px;
  // width: 200px;
  display: flex;
  align-items: center;
  perspective: 100px;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $tablet-width) {
    margin-right: 88px;
    width: 100px;
  }

  @media (max-width: $mobile-width) {
    width: 200px;
  }
}


.clients__item img {
  object-fit: cover;
}

.clients__item:nth-child(8) img {
  object-fit: contain;
}
