.page-footer {
  background-color: $basic-grey;
}

.page-footer__container {
  display: grid;
  grid-template-columns: max-content max-content max-content 430px;
  column-gap: 53px;
  padding-top: 48px;
  padding-bottom: 50px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer__tel {
  padding-right: 67px;
}

.page-footer__social {
  padding-right: 148px
}

.page-footer__subtitle,
.page-footer a,
.page-footer__text {
  font-size: 16px;
  line-height: 16px;
  color: $basic-white;
}

.page-footer__subtitle {
  display: block;
  font-size: 13px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 0.44px;
}

.page-footer a {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.44px;
  text-decoration: none;
}

.page-footer__text {
  margin: 0;
  padding-right: 16px;
  font-size: 13px;
  line-height: 16px;
  text-align: end;
}
