html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "PT Mono", "Courier New", monospace;
  font-size: 16px;
  font-weight: 400;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.container {
  margin: 0 auto;
  max-width: 1240px;
}
