$basic-grey: #434242;
$light-grey: #a1a0a0;
$basic-black: #000000;
$basic-white: #ffffff;
$color-light-bg: #e7f3fe;
$color-button: #0c83f2;
$hover-button: #1b3db7;
$button-special: #0c5eda;
$mobile-width: 767px;

$main-font: "Helvetica", "Arial", sans-serif;

$mobile-width: 743px;
$tablet-width: 1299px;
